@media only screen and (max-width: 450px) {
    .dashboard-header-box{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .dashboard-header{
         display: flex;
         align-items: center;
         justify-content: center;
         background: #1A2C2C99;
         width: 89vw;
         height: 7vh;
         border: none;
         border-radius: 2rem;
         letter-spacing: 0.06rem;
         color: #FFFFFFB3;
     }
     .each{
        display: flex;
        justify-content: space-around;
     }
     .eachDay{
        height: 6vh;
     }
     .progressBar{
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .displayUnits{
        margin-top: 5vh;
     }
}
